<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Decision Support Tool</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<link rel="shortcut icon" href="../static/images/favicon.ico">	
		<script src="../static/assets/js/jquery.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$(".info").hide();
			$("#inputForm").submit(function(){
				age = $("#inputForm input[name=age]");
				ctStage = $("#inputForm input[name=ctStage]");
				comoScore = $("#inputForm input[name=comoScore]");
				$("#ageAlert").text("");
				$("#ctAlert").text("");
				$("#comoAlert").text("");
				if (!age.val() || isNaN(age.val()) || Math.floor(age.val()) != age.val() || age.val() < 65 || age.val() > 120) {
					$("#ageAlert").text("Please enter a valid age");
					return false;
				} 
				if (!ctStage.val() || !(ctStage.val() == 2 || ctStage.val() == 3)) {
					$("#ctAlert").text("Please enter a valid cT Stage");
					return false;
				}
				if (!comoScore.val() || !(comoScore.val() == 1 || comoScore.val() == 2 || comoScore.val() == 3)) {
					$("#comoAlert").text("Please enter a valid Comorbidity Score");
					return false;
				}
			});

			$("#ctInfoIcon").mouseover(function(){
				$("#ctInfo").show();
			});
			$("#ctInfoIcon").mouseleave(function(){
				$("#ctInfo").hide();
			});
			$("#comoInfoIcon").mouseover(function(){
				$("#comoInfo").show();
			});
			$("#comoInfoIcon").mouseleave(function(){
				$("#comoInfo").hide();
			});

		});	
		</script>
	</head>
	<body>
		<!-- Header -->
			<header id = "header">
				<a href="http://www.med.upenn.edu/" target="_blank"><img src="../static/images/psom_logo_white.png" alt="Perelman School of Medicine at the University of Pennsylvania" width="213" height="60" /></a>
				<span id = "headerLinks">
					<a href = "/">Home</a>
					<a href = "mailto:#">Contact</a>
				</span>
			</header>
		<!-- Banner -->
			<section id="banner">
				<p>Please Enter your information</p>
				<form method = post action = "/result" id = "inputForm">
					Age: 
					<input type = "text" name = "age" autocomplete="off">
					<span id = "ageAlert" class = "alert"></span><br>
					Clinical T stage: 
					<span id = "ctInfoIcon"><img src="../static/images/info-icon.png" alt = "info" width = "28" height = "28" /></span>
					<input type = "text" name = "ctStage" autocomplete="off">
					<span id = "ctAlert" class = "alert"></span><br>
					Comorbidity Score: 
					<span id = "comoInfoIcon"><img src="../static/images/info-icon.png" alt = "info" width = "28" height = "28" /></span>
					<input type = "text" name = "comoScore" autocomplete="off">
					<span id = "comoAlert" class = "alert"></span><br><br>
					<a href="/" class="button special">Back</a>&nbsp;&nbsp;<input type = "submit" value = "Submit"> 
				</form>	
				<span id = "ctInfo" class = "info">Clinical Stage 2 or Stage 3. Sed tempus feugiat adipiscing nisl cursus aliquam dolore.Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</span>
				<span id = "comoInfo" class = "info">Comorbidity Score 1 ~ 3.  Sed tempus feugiat adipiscing nisl cursus aliquam dolore.Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</span>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Disclaimer</h2>
						<p> Sed tempus feugiat adipiscing nisl cursus aliquam dolore.Sed tempus feugiat adipiscing nisl cursus aliquam dolore.Sed tempus feugiat adipiscing nisl cursus aliquam dolore.Sed tempus feugiat adipiscing nisl cursus aliquam dolore.Sed tempus feugiat adipiscing nisl cursus aliquam dolore.Sed tempus feugiat adipiscing nisl cursus aliquam dolore.Sed tempus feugiat adipiscing nisl cursus aliquam dolore.Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
					</header>
				</div>
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Untitled. Design: <a href="http://templated.co/">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>